body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

div:focus{
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

/* 搜索 */
.search-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .actions{
    min-height: 45px;
  }
}

/* dialoog */
.dialog {
  .dialog-cont {
    margin-top: -20px;
  }
  .dialog-footer {
    margin-bottom: -10px;
    margin-top: 10px;
    text-align: right;
  }
}

/* element-ui */
.el-table {
  th,tr{
    text-align: center;
  }
}

.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
  background-color: #51739627 !important;
  color: #454545 !important;
}
.el-tree-node__expand-icon { /* notice !!!  如果该样式权重过高，会导致叶子节点仍显示展开图标 */
  color: #454545;
}

/* 二级页面头部 */
.page-nav {
  display: flex;
  justify-content: space-between;
  border-left: 3px solid #42b982;
  padding-left: 10px;
  align-items: center;
  margin: 0 0 10px 0;
}

/* 文件上传 - 头像 */
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  text-align: center;
}
.avatar {
  width: 178px;
  height: 178px;
  display: block;
}

/* m-table */
.m-table {
  width: 100%;
  background: #fff;
  border-collapse: collapse;
  border-spacing: 0;
}
.m-table thead {
  background-color: #f8f8f8;
}
.m-table td, .m-table th {
  border: 1px solid #d2d2d2;
  line-height: 26px;
  padding: 0 2px;
  text-align: center;
}